* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    font-family:"Montserrat", serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
  }

.hero-page{
      background-color: #E1FF8F;
}

.header{
  width: 1440px;
  height: 800px;
}
.header-text{
    padding-top: 196px;
    padding-bottom: 64px;
}
.header-tittle{
    font-weight: 700;
    margin-bottom: 24px;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
}


.header-info { 
    width: 720px;
    height: 64px;
    color: rgba(32, 32, 39, 1);
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
}


.header-info strong {
    font-weight: 700; 
}


.header-button{
    box-sizing: border-box;
    border: 1px solid rgba(32, 32, 39, 1);
    border-radius: 60px;
    background: rgba(32, 32, 39, 1);
    width: 247px;
    height: 66px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 16px 28px 16px 28px;
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
}
.header-strip{
     margin-top: 193px;
     width: 3220px;
     height: 90px;
     display: flex;
     justify-content: flex-start;
     align-items: flex-start;
     padding: 27px 49px 27px 49px;
     box-sizing: border-box;
     border: 1px solid rgba(255, 255, 255, 0.2);
     backdrop-filter: blur(50px);
     background: rgba(188, 236, 48, 1);
}

.header-strip__item{
   margin-right: 51px;
}

.header-advertisement{
   display: flex;
   flex-direction: row;
   align-items: center;
   color: rgba(32, 32, 39, 1);
   font-size: 30px;
   font-weight: 700;
   line-height: 37px;
   letter-spacing: 4%;
   text-align: left;
   text-transform: uppercase;
}