@media(max-width: 768px){

     .center {
        padding-left: 16px;
        padding-right: 16px;
    }

   .hero-page{
      background-color: #E1FF8F;
      position: relative;

      &__vector-mini,
      &__mobile-green1,
      &__mobile-green2,
      &__mobile-none1,
      &__mobile-none2{
        display: block;
        position: absolute; 
       z-index: 1; 
       border-width: 1px;
       opacity: 1;
      }

      &__vector-mini{
      top: 0px;
      right: 0px;
      }      

      &__mobile-green1{
      top: 97px;
      left: 38px;
      }

      &__mobile-green2{
      top: 557px;
      left: 273px;      

      }

      &__mobile-none1{
      top: 64px;
      left: 92px;
      }

&__mobile-none2{
top: 580px;
left: 304px;
}


     &__vector-big,
     &__vector-wand1,
     &__vector-wand2,
     &__vector-wand3,
     &__vector-wand4,
     &__vector-triangle,
     &__vector-star_green1,
     &__vector-star_none1,
     &__vector-star_green2,
     &__vector-star_none2 {
        display: none;
    }
   }


.header{
        width: 100%; 
        height: 700px;
        position: relative;
        z-index: 2;
    

    &-text{
        padding-top: 147px; 
        padding-bottom: 36px;
    }

    &-tittle{
      font-weight: 700;
      font-style: Bold;
      font-size: 40px;
      line-height: 120%;
      text-align: center;
    }

    &-info { 
        width: 100%; 
        height: auto; 
        color: rgba(32, 32, 39, 1);
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0px;
        text-align: center;
    }

    &-button{
        width: 100%; 
       width: 285;
      height: 55;
      border-width: 1px;
      opacity: 1;
      gap: 10px;
      border-radius: 60px;
      padding-top: 16px;
      padding-right: 28px;
      padding-bottom: 16px;
      padding-left: 28px;      
      font-weight: 600;
      font-size: 16px;
      line-height: 142%;
      letter-spacing: 0%;
      text-align: center;


    }

    &-strip{
      width: auto;
      height: 51.33911589746958px;
      top: 649px;
      left: -6px;
      border-width: 0.54px;
      opacity: 1;
      padding-top: 16px;
      padding-bottom: 16px;
      padding-left: 24px;
    }

     &-strip__item{
        margin-right: 24px;
        white-space: nowrap;
        flex-shrink: 0; 
       min-width: max-content; 
     }

    &-strip__item-star {
   display: none;
   
}

  &-strip__item-mobile {
      padding-right: 24px;
      display: block;
 }

 &-advertisement{
    font-weight: 700; 
    font-style: Bold;
    font-size: 16px;
    line-height: 110.00000000000001%;
    letter-spacing: 4%;
    vertical-align: middle;
    text-transform: uppercase;

}
}

    
    .icon{
        grid-template-columns: 1fr; 
        gap: 20px;
    
    &-item_mini,
    &-item_medium,
    &-item_big {
        width: 100%; 
        height: auto; 
        min-height: 200px; 
    }

    
    &-item_big:nth-child(4),
    &-item_big:nth-child(6) {
        margin-top: 0;
    }

    
    &-item__title{
        font-size: 24px;
    }

    &-item__text{
        font-size: 14px;
    }
    }
    
    .main{
        padding-top: 48px; 
        padding-bottom: 10px;
    }

    .game{
        display: none;
    }

    .mini-game{
        padding-top: 0px;    

        &__titles{
          padding-bottom: 48px;
          }

     &__title{
     display: flex;
     flex-direction: row;
     align-items: center;
     color: rgba(255, 255, 255, 1);
     font-size: 40px;
     font-weight: 700;
     line-height: 100%;
     letter-spacing: 0px;
     text-align: left;

    }
    }

    .card{

        &-items{
        width: 343px;
        border-radius: 30px;
        opacity: 1;
        flex-direction: column; 
        gap: 0px;
        margin-bottom: 24px;
        
        }

        &-items:nth-child(1){
         height: 528.629638671875px;
        }

         &-items:nth-child(2),
         &-items:nth-child(3),
         &-items:nth-child(5){
         height: 567.63px;
        }

        &-items:nth-child(4){
          height: 606.63px;
        }

        &-items:nth-child(6){
          height: 626.63px;
        }

        

        &-item__img{
            display: none;
        }

        &-item__img-mobile{
            display: block;
            width: 100%;
        }

         &-item__description{
            width: 330px;
            height: 182px;
            padding-top: 29px;
            padding-right: 29px;
            padding-left: 29px;
            gap: 16px;
         }

         #gen &-item__description {
           width: 300px;
            }

        &-item__title{
            color: rgba(32, 32, 39, 1);
          font-size: 32px;
          font-weight: 700;
          line-height: 100%;
          letter-spacing: 0px;
          text-align: left;
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        &-item__text{
            color: rgba(0, 0, 0, 1);
           display: block;
           flex-direction: row;
           align-items: center;
           font-size: 16px;
           font-weight: 400;
           line-height: 140%;
           letter-spacing: 0px;
           text-align: left;
        }

        &-item__button{
         width: 285px;
         height: 55px;
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
         gap: 10;
         padding: 16px 28px 16px 28px;
         font-size: 16px;
         font-weight: 600;
         line-height: 20px;
         letter-spacing: 0%;
         text-align: center;
        }
    }
    .footer-text{
            font-size: 16px;
        }
   
}