@media(min-width: 769px) and (max-width: 1200px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        height: 700px;
        
        &__title {
            font-size: 50px;
        }

        &__actions {
            display: flex;
            justify-content: center;
        }
    }

    .games-preview {
        top: 630px;
    }

    .hero-page {
        height: 720px;

        &__decor {
            &--wand1,
            &--wand2,
            &--wand3,
            &--wand4,
            &--triangle,
            &--star-green1,
            &--star-none1 {
                display: none;
            }

            &--star-green2 {
                top: 5%;
                left: 10%;
            }

            &--star-none2 {
                top: 70%;
                left: 48%;
            }
        }
    }

    .games-preview-cards {
        display: flex;
        gap: 25px;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-evenly;
        flex-direction: row;

        .games-preview-card {
            &--mini,
            &--medium,
            &--big {
                height: 551px;
            }

            &--big:nth-child(4),
            &--big:nth-child(6) {
                margin-top: 0px;
            }

            &:hover {
                display: none;
            }
        }
    }

    .games-section {
        &__intro {
            .games-section__decor--1 {
                display: none;
            }
        }
        
 &__decor {
     &--1 { display: none; }
    &--2 { top: 41%; left: 0%; }
    &--3 { top: 39%; left: -1%; }
    &--4 { top: 108%; left: 94%; }
    &--5 { top: 107%; left: 91%; }
    &--6 { top: 211%; right: 43%; }
    &--7 { top: 209%; right: 49%; }
           }
    }

    .game-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 25px;

        .game-card {
            width: 343px;
            border-radius: 30px;
            opacity: 1;
            flex-direction: column;
            gap: 0px;
            margin-bottom: 24px;

            &:nth-child(1) {
                height: 528.629638671875px;
            }

            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(5) {
                height: 567.63px;
            }

            &:nth-child(4) {
                height: 606.63px;
            }

            &:nth-child(6) {
                height: 626.63px;
            }

            &__image--desktop {
                display: none;
            }

            &__image--mobile {
                display: block;
                width: 100%;
            }

            &__content {
                width: 100% !important; 
                height: 182px;
                padding: 29px;
                gap: 16px;
            }

            #gen &__content {
            width: 100% !important;
           }


            &__title {
                color: rgba(32, 32, 39, 1);
                font-size: 32px;
                font-weight: 700;
                line-height: 100%;
                letter-spacing: 0px;
                text-align: left;
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            &__description {
                color: rgba(0, 0, 0, 1);
                display: block;
                flex-direction: row;
                align-items: center;
                font-size: 16px;
                font-weight: 400;
                line-height: 140%;
                letter-spacing: 0px;
                text-align: left;
            }

             #gen &__description {
            width: 100% !important;
            max-width: 100%;
            box-sizing: border-box;
        }
            

            &__button {
                width: 285px;
                height: 55px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 10px;
                padding: 16px 28px;
                font-size: 16px;
                font-weight: 600;
                line-height: 20px;
                letter-spacing: 0%;
                text-align: center;
            }
        }
    }
}