* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", serif;
  position: relative;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.button {
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.button:hover {
  background-color: #FFFFFF;
  color: rgb(32, 32, 39);
  transform: translateY(-2px);
}

.hero-page {
  background-color: #E1FF8F;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.hero-page__decor {
  border-width: 1px;
  opacity: 1;
  position: absolute;
  z-index: 1;
}
.hero-page__decor--vector-mini, .hero-page__decor--mobile-green1, .hero-page__decor--mobile-green2, .hero-page__decor--mobile-none1, .hero-page__decor--mobile-none2 {
  display: none;
}
.hero-page__decor--vector-big {
  right: 0;
  top: 0;
}
.hero-page__decor--wand1 {
  top: 0%;
  right: 13%;
}
.hero-page__decor--wand2 {
  top: 34%;
  right: 13%;
}
.hero-page__decor--wand3 {
  top: 45%;
  right: 0%;
}
.hero-page__decor--wand4 {
  top: 80%;
  right: 3%;
}
.hero-page__decor--triangle {
  top: 56%;
  right: 6%;
}
.hero-page__decor--star-green1 {
  top: 68%;
  right: 24%;
}
.hero-page__decor--star-none1 {
  top: 72%;
  right: 18%;
}
.hero-page__decor--star-green2 {
  top: 13%;
  left: 15%;
}
.hero-page__decor--star-none2 {
  top: 10%;
  left: 20%;
}

.header {
  width: 100%;
  height: 800px;
  position: relative;
  z-index: 2;
  justify-content: center;
}
.header__content {
  padding-top: 196px;
  padding-bottom: 48px;
  max-width: 720px;
}
.header__title {
  font-weight: 700;
  margin-bottom: 24px;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0px;
}
.header__description {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}
.header__description strong {
  font-weight: 600;
}
.header__actions {
  padding-bottom: 48px;
}
.header__button {
  width: 247px;
  height: 66px;
  padding: 16px 28px;
  gap: 10px;
}

.games-preview {
  position: absolute;
  z-index: 2;
  top: 710px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 27px 49px 27px 19px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  background: rgb(188, 236, 48);
}
.games-preview__item {
  margin-right: 51px;
  white-space: nowrap;
  flex-shrink: 0;
  min-width: -moz-max-content;
  min-width: max-content;
}
.games-preview__separator {
  margin-right: 51px;
}
.games-preview__separator--mobile {
  display: none;
}
.games-preview__name {
  display: flex;
  align-items: center;
  color: rgb(32, 32, 39);
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 4%;
  text-transform: uppercase;
}

.games-section {
  padding-top: 94px;
  background: #202027;
  position: relative;
  padding-bottom: 144px;
}
.games-section__intro {
  position: relative;
}
.games-section__decor {
  opacity: 1;
  border-width: 1px;
  position: absolute;
  z-index: 1;
}
.games-section__decor--1 {
  top: 0%;
  left: 70%;
}
.games-section__decor--2 {
  top: 55%;
  right: 102%;
}
.games-section__decor--3 {
  top: 51%;
  right: 106%;
}
.games-section__decor--4 {
  top: 113%;
  left: 100%;
}
.games-section__decor--5 {
  top: 111%;
  left: 97%;
}
.games-section__decor--6 {
  top: 359%;
  right: -6%;
}
.games-section__decor--7 {
  top: 363%;
  right: 2%;
}
.games-section__title {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
}
.games-section__description {
  padding-top: 24px;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 72px;
}

.games-preview-cards {
  display: grid;
  grid-template-columns: repeat(3, 378px);
  gap: 32px;
  grid-auto-flow: dense;
  position: relative;
  z-index: 2;
}

.games-preview-card {
  opacity: 1;
  border-radius: 30px;
  background: #FFFFFF;
  transition: all 0.3s ease-in-out;
  position: relative;
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.games-preview-card--mini {
  height: 473px;
}
.games-preview-card--medium {
  height: 512px;
}
.games-preview-card--big {
  height: 551px;
  grid-row: span 1;
}
.games-preview-card:nth-child(4), .games-preview-card:nth-child(6) {
  margin-top: -39px;
}
.games-preview-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgb(0, 0, 0);
  z-index: 10;
}
.games-preview-card--big:hover {
  transform: scale(1.03);
}
.games-preview-card__content {
  padding-top: 32px;
  padding-left: 32px;
}
.games-preview-card__badge {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 16px 10px 16px;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
}
.games-preview-card__badge--1 {
  width: 108px;
  height: 36px;
}
.games-preview-card__badge--2, .games-preview-card__badge--3, .games-preview-card__badge--5 {
  width: 111px;
  height: 36px;
}
.games-preview-card__badge--4, .games-preview-card__badge--6 {
  width: 112px;
  height: 36px;
}
.games-preview-card__number {
  display: flex;
  align-items: flex-end;
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.games-preview-card__title {
  padding-top: 16px;
  display: flex;
  align-items: center;
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
}
.games-preview-card--mini:hover .games-preview-card__image, .games-preview-card--medium:hover .games-preview-card__image, .games-preview-card--big:hover .games-preview-card__image--big {
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
}

.games-list {
  padding-top: 96px;
}
.games-list__header {
  padding-bottom: 72px;
}
.games-list__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  color: #FFFFFF;
}

.game-cards {
  position: relative;
  z-index: 2;
}

.game-card {
  display: flex;
  width: 100%;
  height: 500px;
  opacity: 1;
  border-radius: 30px;
  background: #FFFFFF;
  margin-bottom: 32px;
  gap: 32px;
}
.game-card:last-child {
  margin-bottom: 0px;
}
.game-card--odd .game-card__content {
  order: 1;
}
.game-card--odd .game-card__image--desktop {
  order: 2;
}
.game-card--even .game-card__content {
  order: 2;
}
.game-card--even .game-card__image--desktop {
  order: 1;
}
.game-card__image {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  flex-shrink: 0;
}
.game-card__image--mobile {
  display: none;
}
.game-card__image--desktop:nth-child(3n) {
  position: relative;
  left: 64px;
}
.game-card__content {
  width: 504px;
  height: 249px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
  padding: 48px;
}
#gen .game-card__content {
  width: 585px;
}
.game-card__title {
  color: rgb(32, 32, 39);
  font-size: 48px;
  font-weight: 700;
  line-height: 100%;
  margin: 0;
}
.game-card__description {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin: 0;
}
.game-card__actions {
  padding-top: 12px;
  margin-top: auto;
}
.game-card__button {
  width: 247px;
  height: 66px;
  padding: 16px 28px;
  gap: 10px;
  border-radius: 60px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
}
.game-card__button:hover {
  background-color: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  transition: 2s;
  transform: translateY(-2px);
}

.footer {
  width: 100%;
  height: 150px;
  background: rgb(189, 237, 53);
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__text {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .hero-page {
    background-color: #E1FF8F;
    position: relative;
  }
  .hero-page__decor--vector-mini, .hero-page__decor--mobile-green1, .hero-page__decor--mobile-green2, .hero-page__decor--mobile-none1, .hero-page__decor--mobile-none2 {
    display: block;
    position: absolute;
    z-index: 1;
    border-width: 1px;
    opacity: 1;
  }
  .hero-page__decor--vector-mini {
    top: 0px;
    right: 0px;
  }
  .hero-page__decor--mobile-green1 {
    top: 97px;
    left: 38px;
  }
  .hero-page__decor--mobile-green2 {
    top: 557px;
    left: 273px;
  }
  .hero-page__decor--mobile-none1 {
    top: 64px;
    left: 92px;
  }
  .hero-page__decor--mobile-none2 {
    top: 580px;
    left: 304px;
  }
  .hero-page__decor--vector-big, .hero-page__decor--wand1, .hero-page__decor--wand2, .hero-page__decor--wand3, .hero-page__decor--wand4, .hero-page__decor--triangle, .hero-page__decor--star-green1, .hero-page__decor--star-none1, .hero-page__decor--star-green2, .hero-page__decor--star-none2 {
    display: none;
  }
  .header {
    width: 100%;
    height: 700px;
    position: relative;
    z-index: 2;
  }
  .header__actions {
    display: flex;
    justify-content: center;
  }
  .header__content {
    padding-top: 147px;
    padding-bottom: 36px;
  }
  .header__title {
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
  }
  .header__description {
    width: 100%;
    height: auto;
    color: rgb(32, 32, 39);
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
  }
  .header__button {
    width: 100%;
    width: 285px;
    height: 55px;
    border-width: 1px;
    opacity: 1;
    gap: 10px;
    border-radius: 60px;
    padding: 16px 28px;
    font-weight: 600;
    font-size: 16px;
    line-height: 142%;
    letter-spacing: 0%;
    text-align: center;
  }
  .games-preview {
    width: auto;
    height: 51.3391158975px;
    top: 649px;
    left: -6px;
    border-width: 0.54px;
    opacity: 1;
    padding: 16px 24px;
  }
  .games-preview__item {
    margin-right: 24px;
    white-space: nowrap;
    flex-shrink: 0;
    min-width: -moz-max-content;
    min-width: max-content;
  }
  .games-preview__separator--star {
    display: none;
  }
  .games-preview__separator--mobile {
    margin-right: 24px;
    display: block;
  }
  .games-preview__name {
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 110%;
    letter-spacing: 4%;
    vertical-align: middle;
    text-transform: uppercase;
  }
  .games-preview-cards {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .games-preview-cards .games-preview-card {
    width: 100%;
    height: auto;
    min-height: 200px;
  }
  .games-preview-cards .games-preview-card--big:nth-child(4),
  .games-preview-cards .games-preview-card--big:nth-child(6) {
    margin-top: 0;
  }
  .games-preview-cards .games-preview-card__title {
    font-size: 24px;
  }
  .games-preview-cards .games-preview-card__number {
    font-size: 14px;
  }
  .games-section {
    padding-top: 48px;
    padding-bottom: 10px;
  }
  .games-section__intro {
    display: none;
  }
  .games-list {
    padding-top: 0px;
  }
  .games-list__header {
    padding-bottom: 48px;
  }
  .games-list__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;
  }
  .game-cards .game-card {
    width: 343px;
    border-radius: 30px;
    opacity: 1;
    flex-direction: column;
    gap: 0px;
    margin-bottom: 24px;
  }
  .game-cards .game-card:nth-child(1) {
    height: 528.6296386719px;
  }
  .game-cards .game-card:nth-child(2), .game-cards .game-card:nth-child(3), .game-cards .game-card:nth-child(5) {
    height: 567.63px;
  }
  .game-cards .game-card:nth-child(4) {
    height: 606.63px;
  }
  .game-cards .game-card:nth-child(6) {
    height: 626.63px;
    margin-bottom: 0px;
  }
  .game-cards .game-card__image--desktop {
    display: none;
  }
  .game-cards .game-card__image--mobile {
    display: block;
    width: 100%;
  }
  .game-cards .game-card__content {
    width: 100% !important;
    box-sizing: border-box;
    height: 182px;
    padding: 29px;
    gap: 16px;
  }
  #gen .game-cards .game-card__content {
    width: 100% !important;
  }
  .game-cards .game-card__title {
    color: rgb(32, 32, 39);
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .game-cards .game-card__description {
    color: rgb(0, 0, 0);
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0px;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  #gen .game-cards .game-card__description {
    width: 100% !important;
    max-width: 100%;
    box-sizing: border-box;
  }
  .game-cards .game-card__button {
    width: 285px;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 16px 28px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
  }
  .footer {
    height: 100px;
  }
  .footer__text {
    font-size: 16px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    height: 700px;
  }
  .header__title {
    font-size: 50px;
  }
  .header__actions {
    display: flex;
    justify-content: center;
  }
  .games-preview {
    top: 630px;
  }
  .hero-page {
    height: 720px;
  }
  .hero-page__decor--wand1, .hero-page__decor--wand2, .hero-page__decor--wand3, .hero-page__decor--wand4, .hero-page__decor--triangle, .hero-page__decor--star-green1, .hero-page__decor--star-none1 {
    display: none;
  }
  .hero-page__decor--star-green2 {
    top: 5%;
    left: 10%;
  }
  .hero-page__decor--star-none2 {
    top: 70%;
    left: 48%;
  }
  .games-preview-cards {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: row;
  }
  .games-preview-cards .games-preview-card--mini, .games-preview-cards .games-preview-card--medium, .games-preview-cards .games-preview-card--big {
    height: 551px;
  }
  .games-preview-cards .games-preview-card--big:nth-child(4), .games-preview-cards .games-preview-card--big:nth-child(6) {
    margin-top: 0px;
  }
  .games-preview-cards .games-preview-card:hover {
    display: none;
  }
  .games-section__intro .games-section__decor--1 {
    display: none;
  }
  .games-section__decor--1 {
    display: none;
  }
  .games-section__decor--2 {
    top: 41%;
    left: 0%;
  }
  .games-section__decor--3 {
    top: 39%;
    left: -1%;
  }
  .games-section__decor--4 {
    top: 108%;
    left: 94%;
  }
  .games-section__decor--5 {
    top: 107%;
    left: 91%;
  }
  .games-section__decor--6 {
    top: 211%;
    right: 43%;
  }
  .games-section__decor--7 {
    top: 209%;
    right: 49%;
  }
  .game-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 25px;
  }
  .game-cards .game-card {
    width: 343px;
    border-radius: 30px;
    opacity: 1;
    flex-direction: column;
    gap: 0px;
    margin-bottom: 24px;
  }
  .game-cards .game-card:nth-child(1) {
    height: 528.6296386719px;
  }
  .game-cards .game-card:nth-child(2), .game-cards .game-card:nth-child(3), .game-cards .game-card:nth-child(5) {
    height: 567.63px;
  }
  .game-cards .game-card:nth-child(4) {
    height: 606.63px;
  }
  .game-cards .game-card:nth-child(6) {
    height: 626.63px;
  }
  .game-cards .game-card__image--desktop {
    display: none;
  }
  .game-cards .game-card__image--mobile {
    display: block;
    width: 100%;
  }
  .game-cards .game-card__content {
    width: 100% !important;
    height: 182px;
    padding: 29px;
    gap: 16px;
  }
  #gen .game-cards .game-card__content {
    width: 100% !important;
  }
  .game-cards .game-card__title {
    color: rgb(32, 32, 39);
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .game-cards .game-card__description {
    color: rgb(0, 0, 0);
    display: block;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0px;
    text-align: left;
  }
  #gen .game-cards .game-card__description {
    width: 100% !important;
    max-width: 100%;
    box-sizing: border-box;
  }
  .game-cards .game-card__button {
    width: 285px;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 16px 28px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
  }
}/*# sourceMappingURL=stile.css.map */