* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

html, body{
  overflow-x: hidden;
}

body{
    font-family:"Montserrat", serif;
    position: relative;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
  }

.hero-page{
      background-color: #E1FF8F;
      position: relative;

&__vector-mini{
 display: none;
}      

&__mobile-green1{
  display: none;
}

&__mobile-green2{
  display: none;
}

&__mobile-none1{
  display: none;
}

&__mobile-none2{
  display: none;
}

&__vector-big{
border-width: 1px;
opacity: 1;
   position: absolute; 
  right: 0;
  top: 0;  
  z-index: 1; 

}

&__vector-wand1{
border-width: 1px;
opacity: 1;
position: absolute; 
top: 0px;
left: 1330px;
z-index: 1; 
}

&__vector-wand2{
border-width: 1px;
opacity: 1;
position: absolute; 
top: 254px;
left: 1540px;
z-index: 1; 
}

&__vector-wand3{
border-width: 1px;
opacity: 1;
position: absolute; 
top: 350px;
left: 1690px;
z-index: 1; 
}

&__vector-wand4{
border-width: 1px;
opacity: 1;
position: absolute; 
top: 660px;
left: 1810px;
z-index: 1; 
}

&__vector-triangle{
border-width: 1px;
opacity: 1;
position: absolute; 
top: 450px;
left: 1710px;
z-index: 1; 
}

&__vector-star_green1{
top: 551px;
left: 1410px;
border-width: 1px;
opacity: 1;
position: absolute; 
z-index: 1; 
}

&__vector-star_none1{
top: 581px;
left: 1466px;
border-width: 1px;
opacity: 1;
position: absolute; 
z-index: 1; 
}

&__vector-star_green2{
top: 104px;
left: 290px;
border-width: 1px;
opacity: 1;
position: absolute; 
z-index: 1; 
}

&__vector-star_none2{
top: 79px;
left: 383px;
border-width: 1px;
opacity: 1;
position: absolute; 
z-index: 1; 
}

}
.header{
  width: 1440px;
  height: 800px;
  position: relative;
  z-index: 2;

&-text{
    padding-top: 196px;
    padding-bottom: 48px;
}
&-tittle{
    font-weight: 700;
    margin-bottom: 24px;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
}


&-info { 
    width: 720px;
    height: 64px;
    color: rgba(32, 32, 39, 1);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
}


&-info strong {
    font-weight: 600; 
}


&-button{
    box-sizing: border-box;
    border: 1px solid rgba(32, 32, 39, 1);
    border-radius: 60px;
    background: rgba(32, 32, 39, 1);
    width: 247px;
    height: 66px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 16px 28px 16px 28px;
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
     text-decoration: none;
     cursor: pointer
}
&-strip{
     position: absolute;
     z-index: 2;
     top: 710px;
     width: 3220px;
     height: 90px;
     display: flex;
     justify-content: flex-start;
     align-items: flex-start;
     padding: 27px 49px 27px 49px;
     box-sizing: border-box;
     border: 1px solid rgba(255, 255, 255, 0.2);
     backdrop-filter: blur(50px);
     background: rgba(188, 236, 48, 1);
}

&-strip__item{
   margin-right: 51px;
}

&-strip__item-star {
   margin-right: 51px;
}

&-strip__item-mobile{
   display: none;
}

&-advertisement{
   display: flex;
   flex-direction: row;
   align-items: center;
   color: rgba(32, 32, 39, 1);
   font-size: 30px;
   font-weight: 700;
   line-height: 37px;
   letter-spacing: 4%;
   text-align: left;
   text-transform: uppercase;
}

}

.main{
  padding-top: 174px;
  background: #202027;
   position: relative;
   padding-bottom: 144px;
}

.game{
&__img-1{
  top: 195px;
  left: 1240px;
  opacity: 1;
  position: absolute; 
  z-index: 1; 
}

&__img-2{
  top:922px;
  left: 270px;
  opacity: 1;
  border-width: 1px;
 position: absolute; 
  z-index: 1; 
}

&__img-3{
  top: 870px;
  left: 255px;
  opacity: 1;
  border-width: 1px;
  position: absolute; 
  z-index: 1; 
}

&__img-4{
  top:1630px;
  right: 270px;
  opacity: 1;
  border-width: 1px;
 position: absolute; 
  z-index: 1; 
}

&__img-5{
  top:1600px;
  right: 350px;
  opacity: 1;
  border-width: 1px;
 position: absolute; 
  z-index: 1; 
}

&__img-6{
  bottom: 65px;
  right: 270px;
  opacity: 1;
  border-width: 1px;
 position: absolute; 
  z-index: 1; 
}

&__img-7{
  bottom: 45px;
  right: 360px;
  opacity: 1;
  border-width: 1px;
 position: absolute; 
  z-index: 1; 
}

&-tittle{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: left;

}

&-text{
  padding-top: 24px;
   display: flex;
   flex-direction: row;
   align-items: center;
   color: rgba(255, 255, 255, 1);
   font-size: 24px;
   font-weight: 400;
   line-height: 32px;
   letter-spacing: 0px;
   text-align: left;
  margin-bottom: 72px;
}
}

.icon{
  display: grid;
  grid-template-columns: repeat(3, 378px);
  gap: 32px;
  grid-auto-flow: dense;
  position: relative;
  z-index: 2; 

&-item_mini, &-item_medium, &-item_big {
  opacity: 1;
  border-radius: 30px;
  background: #FFFFFF;
  transition: all 0.3s ease-in-out;
  position: relative;
  display: block; 
  text-decoration: none; 
  color: inherit; 
  cursor: pointer; 
}

&-item_mini{
  height: 473px;
}

&-item_medium{
  height: 512px;
}

&-item_big{
  height: 551px;
   grid-row: span 1;
}

&-item_mini:hover,
&-item_medium:hover,
&-item_big:hover {
  transform: scale(1.05); 
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); 
  z-index: 10; 
}

&-item_big:nth-child(4),
&-item_big:nth-child(6) {
  margin-top: -39px;
}


&-item_big:hover {
  transform: scale(1.03); 
}

&-item__description{
  padding-top: 32px;
  padding-left: 32px;
}

&-item__texts{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 16px 10px 16px;
  border-radius: 52.58px;
  background: rgba(247, 247, 247, 1);
}


&-item_mini:hover &-item__img,
&-item_medium:hover &-item__img,
&-item_big:hover &-item_big__img {
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
}

&-item__texts-1{
  width: 108px;
  height: 36px;
}

&-item__texts-2, &-item__texts-3, &-item__texts-5{
  width: 111px;
  height: 36px;
}

&-item__texts-4, &-item__texts-6{
  width: 112px;
  height: 36px;
}


&-item__text{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  color: rgba(32, 32, 39, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

&-item__title{
  padding-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(32, 32, 39, 1);
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: left;
}
}

.mini-game{
    padding-top: 96px;
    &__titles{
      padding-bottom: 72px;
    }

    &__title{
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #FFFFFF;
    }
}

.card{
  position: relative;
  z-index: 2; 

  &-items{
    display: flex;
    width: 100%;
    height: 500px;
    opacity: 1;
    border-radius: 30px;
    background: #FFFFFF;
    margin-bottom: 32px;
    gap: 32px;
  }
  &-items:nth-child(6){
    margin-bottom: 0px;
  }

  &-item__img {
    object-fit: cover;
    flex-shrink: 0;
  }

  &-item__img:nth-child(2n) {
    position: relative;
    left: 64px;
  }

  &-item__description{
    width: 504px;
    height: 249px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
    padding-top: 48px;
    padding-left: 48px;
    padding-right: 48px;
  }

  &-item__title{
    color: rgba(32, 32, 39, 1);
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;
    margin: 0;
  }

  &-item__text{
    color: rgba(32, 32, 39, 1);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0;
  }

  &-item__buttons{
    padding-top: 12px;
    margin-top: auto;
  }

  &-item__button{
    width: 247px;
    height: 66px;
    gap: 10px;
    padding: 16px 28px;
    border-radius: 60px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(32, 32, 39, 1);
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: rgba(32, 32, 39, 1);
      color: rgba(255, 255, 255, 1);
      transition: 2s;
      transform: translateY(-2px);
    }
  }
}

.footer {
  width: 100%;
  height: 150px;
  background: rgba(189, 237, 53, 1);
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;

&-text {
  color: rgba(0, 0, 0, 1);
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  margin: 0;
}
}

@import 'mobile1';