* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

html, body{
  overflow-x: hidden;
}

body{
    font-family:"Montserrat", serif;
    position: relative;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
  }

.hero-page{
      background-color: #E1FF8F;
      position: relative;

}

.hero-page__vector-big{
border-width: 1px;
opacity: 1;
   position: absolute; 
  right: 0;
  top: 0;  
  z-index: 1; 

}

.hero-page__vector-wand1{
border-width: 1px;
opacity: 1;
position: absolute; 
top: 0px;
left: 1330px;
z-index: 1; 
}

.hero-page__vector-wand2{
border-width: 1px;
opacity: 1;
position: absolute; 
top: 254px;
left: 1540px;
z-index: 1; 
}

.hero-page__vector-wand3{
border-width: 1px;
opacity: 1;
position: absolute; 
top: 400px;
left: 1690px;
z-index: 1; 
}

.hero-page__vector-wand4{
border-width: 1px;
opacity: 1;
position: absolute; 
top: 740px;
left: 1810px;
z-index: 1; 
}

.hero-page__vector-triangle{
border-width: 1px;
opacity: 1;
position: absolute; 
top: 510px;
left: 1697px;
z-index: 1; 
}

.hero-page__vector-star_green1{
top: 621px;
left: 1410px;
border-width: 1px;
opacity: 1;
position: absolute; 
z-index: 1; 
}

.hero-page__vector-star_none1{
top: 651px;
left: 1466px;
border-width: 1px;
opacity: 1;
position: absolute; 
z-index: 1; 
}

.hero-page__vector-star_green2{
top: 94px;
left: 290px;
border-width: 1px;
opacity: 1;
position: absolute; 
z-index: 1; 
}

.hero-page__vector-star_none2{
top: 69px;
left: 383px;
border-width: 1px;
opacity: 1;
position: absolute; 
z-index: 1; 
}

.header{
  width: 1440px;
  height: 800px;
  position: relative;
  z-index: 2;
}
.header-text{
    padding-top: 196px;
    padding-bottom: 64px;
}
.header-tittle{
    font-weight: 700;
    margin-bottom: 24px;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
}


.header-info { 
    width: 720px;
    height: 64px;
    color: rgba(32, 32, 39, 1);
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
}


.header-info strong {
    font-weight: 700; 
}


.header-button{
    box-sizing: border-box;
    border: 1px solid rgba(32, 32, 39, 1);
    border-radius: 60px;
    background: rgba(32, 32, 39, 1);
    width: 247px;
    height: 66px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 16px 28px 16px 28px;
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
}
.header-strip{
       position: absolute;
     z-index: 2;
         top: 600px;
     margin-top: 193px;
     width: 3220px;
     height: 90px;
     display: flex;
     justify-content: flex-start;
     align-items: flex-start;
     padding: 27px 49px 27px 49px;
     box-sizing: border-box;
     border: 1px solid rgba(255, 255, 255, 0.2);
     backdrop-filter: blur(50px);
     background: rgba(188, 236, 48, 1);
}

.header-strip__item{
   margin-right: 51px;
}

.header-advertisement{
   display: flex;
   flex-direction: row;
   align-items: center;
   color: rgba(32, 32, 39, 1);
   font-size: 30px;
   font-weight: 700;
   line-height: 37px;
   letter-spacing: 4%;
   text-align: left;
   text-transform: uppercase;
}

.main{
  padding-top: 174px;
  background: #202027;
}
.game-tittle{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: left;

}

.game-text{
  padding-top: 24px;
   display: flex;
   flex-direction: row;
   align-items: center;
   color: rgba(255, 255, 255, 1);
   font-size: 24px;
   font-weight: 400;
   line-height: 32px;
   letter-spacing: 0px;
   text-align: left;

}

.icon-item{
  width: 378px;
height: 473px;
opacity: 1;
border-radius: 30px;
background: #FFFFFF;

}

.icon-item_big{
width: 378px;
height: 512px;
opacity: 1;
border-radius: 30px;
background: #FFFFFF;


}