* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", serif;
  position: relative;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.hero-page {
  background-color: #E1FF8F;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.hero-page__vector-mini, .hero-page__mobile-green1, .hero-page__mobile-green2, .hero-page__mobile-none1, .hero-page__mobile-none2 {
  display: none;
}
.hero-page__vector-big {
  border-width: 1px;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.hero-page__vector-wand1 {
  border-width: 1px;
  opacity: 1;
  position: absolute;
  top: 0%;
  right: 13%;
  z-index: 1;
}
.hero-page__vector-wand2 {
  border-width: 1px;
  opacity: 1;
  position: absolute;
  top: 34%;
  right: 13%;
  z-index: 1;
}
.hero-page__vector-wand3 {
  border-width: 1px;
  opacity: 1;
  position: absolute;
  top: 45%;
  right: 0%;
  z-index: 1;
}
.hero-page__vector-wand4 {
  border-width: 1px;
  opacity: 1;
  position: absolute;
  top: 80%;
  right: 3%;
  z-index: 1;
}
.hero-page__vector-triangle {
  border-width: 1px;
  opacity: 1;
  position: absolute;
  top: 56%;
  right: 6%;
  z-index: 1;
}
.hero-page__vector-star_green1 {
  top: 68%;
  right: 24%;
  border-width: 1px;
  opacity: 1;
  position: absolute;
  z-index: 1;
}
.hero-page__vector-star_none1 {
  top: 72%;
  right: 18%;
  border-width: 1px;
  opacity: 1;
  position: absolute;
  z-index: 1;
}
.hero-page__vector-star_green2 {
  top: 13%;
  left: 15%;
  border-width: 1px;
  opacity: 1;
  position: absolute;
  z-index: 1;
}
.hero-page__vector-star_none2 {
  top: 10%;
  left: 20%;
  border-width: 1px;
  opacity: 1;
  position: absolute;
  z-index: 1;
}

.header {
  width: 100%;
  height: 800px;
  position: relative;
  z-index: 2;
  justify-content: center;
}
.header-text {
  padding-top: 196px;
  padding-bottom: 48px;
  max-width: 720px;
}
.header-tittle {
  font-weight: 700;
  margin-bottom: 24px;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
}
.header-info {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.header-info strong {
  font-weight: 600;
}
.header-button {
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  width: 247px;
  height: 66px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10;
  padding: 16px 28px 16px 28px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.header-strip {
  position: absolute;
  z-index: 2;
  top: 710px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 27px 49px 27px 19px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  background: rgb(188, 236, 48);
}
.header-strip__item {
  margin-right: 51px;
  white-space: nowrap;
  flex-shrink: 0;
  min-width: -moz-max-content;
  min-width: max-content;
}
.header-strip__item-star {
  margin-right: 51px;
}
.header-strip__item-mobile {
  display: none;
}
.header-advertisement {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(32, 32, 39);
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 4%;
  text-align: left;
  text-transform: uppercase;
}

.main {
  padding-top: 94px;
  background: #202027;
  position: relative;
  padding-bottom: 144px;
}

.game__img-1 {
  top: 1%;
  right: 3%;
  opacity: 1;
  position: absolute;
  z-index: 1;
}
.game__img-2 {
  top: 922px;
  left: 270px;
  opacity: 1;
  border-width: 1px;
  position: absolute;
  z-index: 1;
}
.game__img-3 {
  top: 870px;
  left: 255px;
  opacity: 1;
  border-width: 1px;
  position: absolute;
  z-index: 1;
}
.game__img-4 {
  top: 1540px;
  right: 270px;
  opacity: 1;
  border-width: 1px;
  position: absolute;
  z-index: 1;
}
.game__img-5 {
  top: 1510px;
  right: 350px;
  opacity: 1;
  border-width: 1px;
  position: absolute;
  z-index: 1;
}
.game__img-6 {
  bottom: 65px;
  right: 270px;
  opacity: 1;
  border-width: 1px;
  position: absolute;
  z-index: 1;
}
.game__img-7 {
  bottom: 45px;
  right: 360px;
  opacity: 1;
  border-width: 1px;
  position: absolute;
  z-index: 1;
}
.game-tittle {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: left;
}
.game-text {
  padding-top: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 72px;
}

.icon {
  display: grid;
  grid-template-columns: repeat(3, 378px);
  gap: 32px;
  grid-auto-flow: dense;
  position: relative;
  z-index: 2;
}
.icon-item_mini, .icon-item_medium, .icon-item_big {
  opacity: 1;
  border-radius: 30px;
  background: #FFFFFF;
  transition: all 0.3s ease-in-out;
  position: relative;
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.icon-item_mini {
  height: 473px;
}
.icon-item_medium {
  height: 512px;
}
.icon-item_big {
  height: 551px;
  grid-row: span 1;
}
.icon-item_mini:hover, .icon-item_medium:hover, .icon-item_big:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgb(0, 0, 0);
  z-index: 10;
}
.icon-item_big:nth-child(4), .icon-item_big:nth-child(6) {
  margin-top: -39px;
}
.icon-item_big:hover {
  transform: scale(1.03);
}
.icon-item__description {
  padding-top: 32px;
  padding-left: 32px;
}
.icon-item__texts {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 16px 10px 16px;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
}
.icon-item_mini:hover .icon-item__img, .icon-item_medium:hover .icon-item__img, .icon-item_big:hover .icon-item_big__img {
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
}
.icon-item__texts-1 {
  width: 108px;
  height: 36px;
}
.icon-item__texts-2, .icon-item__texts-3, .icon-item__texts-5 {
  width: 111px;
  height: 36px;
}
.icon-item__texts-4, .icon-item__texts-6 {
  width: 112px;
  height: 36px;
}
.icon-item__text {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}
.icon-item__title {
  padding-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: left;
}

.mini-game {
  padding-top: 96px;
}
.mini-game__titles {
  padding-bottom: 72px;
}
.mini-game__title {
  font-weight: 700;
  font-style: Bold;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #FFFFFF;
}

.card {
  position: relative;
  z-index: 2;
}
.card-items {
  display: flex;
  width: 100%;
  height: 500px;
  opacity: 1;
  border-radius: 30px;
  background: #FFFFFF;
  margin-bottom: 32px;
  gap: 32px;
}
.card-item__img-mobile {
  display: none;
}
.card-items:nth-child(6) {
  margin-bottom: 0px;
}
.card-item__img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  flex-shrink: 0;
}
.card-item__img:nth-child(3n) {
  position: relative;
  left: 64px;
}
.card-item__description {
  width: 504px;
  height: 249px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
  padding-top: 48px;
  padding-left: 48px;
  padding-right: 48px;
}
#gen .card-item__description {
  width: 585px;
}
.card-item__title {
  color: rgb(32, 32, 39);
  font-size: 48px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: left;
  margin: 0;
}
.card-item__text {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  margin: 0;
}
.card-item__buttons {
  padding-top: 12px;
  margin-top: auto;
}
.card-item__button {
  width: 247px;
  height: 66px;
  gap: 10px;
  padding: 16px 28px;
  border-radius: 60px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.card-item__button:hover {
  background-color: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  transition: 2s;
  transform: translateY(-2px);
}

.footer {
  width: 100%;
  height: 150px;
  background: rgb(189, 237, 53);
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-text {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  margin: 0;
}

@media (max-width: 768px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .hero-page {
    background-color: #E1FF8F;
    position: relative;
  }
  .hero-page__vector-mini, .hero-page__mobile-green1, .hero-page__mobile-green2, .hero-page__mobile-none1, .hero-page__mobile-none2 {
    display: block;
    position: absolute;
    z-index: 1;
    border-width: 1px;
    opacity: 1;
  }
  .hero-page__vector-mini {
    top: 0px;
    right: 0px;
  }
  .hero-page__mobile-green1 {
    top: 97px;
    left: 38px;
  }
  .hero-page__mobile-green2 {
    top: 557px;
    left: 273px;
  }
  .hero-page__mobile-none1 {
    top: 64px;
    left: 92px;
  }
  .hero-page__mobile-none2 {
    top: 580px;
    left: 304px;
  }
  .hero-page__vector-big, .hero-page__vector-wand1, .hero-page__vector-wand2, .hero-page__vector-wand3, .hero-page__vector-wand4, .hero-page__vector-triangle, .hero-page__vector-star_green1, .hero-page__vector-star_none1, .hero-page__vector-star_green2, .hero-page__vector-star_none2 {
    display: none;
  }
  .header {
    width: 100%;
    height: 700px;
    position: relative;
    z-index: 2;
  }
  .header-text {
    padding-top: 147px;
    padding-bottom: 36px;
  }
  .header-tittle {
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
  }
  .header-info {
    width: 100%;
    height: auto;
    color: rgb(32, 32, 39);
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
  }
  .header-button {
    width: 100%;
    width: 285;
    height: 55;
    border-width: 1px;
    opacity: 1;
    gap: 10px;
    border-radius: 60px;
    padding-top: 16px;
    padding-right: 28px;
    padding-bottom: 16px;
    padding-left: 28px;
    font-weight: 600;
    font-size: 16px;
    line-height: 142%;
    letter-spacing: 0%;
    text-align: center;
  }
  .header-strip {
    width: auto;
    height: 51.3391158975px;
    top: 649px;
    left: -6px;
    border-width: 0.54px;
    opacity: 1;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
  }
  .header-strip__item {
    margin-right: 24px;
    white-space: nowrap;
    flex-shrink: 0;
    min-width: -moz-max-content;
    min-width: max-content;
  }
  .header-strip__item-star {
    display: none;
  }
  .header-strip__item-mobile {
    padding-right: 24px;
    display: block;
  }
  .header-advertisement {
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 110%;
    letter-spacing: 4%;
    vertical-align: middle;
    text-transform: uppercase;
  }
  .icon {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .icon-item_mini, .icon-item_medium, .icon-item_big {
    width: 100%;
    height: auto;
    min-height: 200px;
  }
  .icon-item_big:nth-child(4), .icon-item_big:nth-child(6) {
    margin-top: 0;
  }
  .icon-item__title {
    font-size: 24px;
  }
  .icon-item__text {
    font-size: 14px;
  }
  .main {
    padding-top: 48px;
    padding-bottom: 10px;
  }
  .game {
    display: none;
  }
  .mini-game {
    padding-top: 0px;
  }
  .mini-game__titles {
    padding-bottom: 48px;
  }
  .mini-game__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;
  }
  .card-items {
    width: 343px;
    border-radius: 30px;
    opacity: 1;
    flex-direction: column;
    gap: 0px;
    margin-bottom: 24px;
  }
  .card-items:nth-child(1) {
    height: 528.6296386719px;
  }
  .card-items:nth-child(2), .card-items:nth-child(3), .card-items:nth-child(5) {
    height: 567.63px;
  }
  .card-items:nth-child(4) {
    height: 606.63px;
  }
  .card-items:nth-child(6) {
    height: 626.63px;
  }
  .card-item__img {
    display: none;
  }
  .card-item__img-mobile {
    display: block;
    width: 100%;
  }
  .card-item__description {
    width: 330px;
    height: 182px;
    padding-top: 29px;
    padding-right: 29px;
    padding-left: 29px;
    gap: 16px;
  }
  #gen .card-item__description {
    width: 300px;
  }
  .card-item__title {
    color: rgb(32, 32, 39);
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .card-item__text {
    color: rgb(0, 0, 0);
    display: block;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0px;
    text-align: left;
  }
  .card-item__button {
    width: 285px;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 16px 28px 16px 28px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
  }
  .footer-text {
    font-size: 16px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    height: 700px;
  }
  .header-tittle {
    font-size: 50px;
  }
  .header-buttons {
    display: flex;
    justify-content: center;
  }
  .header-strip {
    top: 630px;
  }
  .hero-page {
    height: 720px;
  }
  .hero-page__vector-wand1, .hero-page__vector-wand2, .hero-page__vector-wand3, .hero-page__vector-wand4, .hero-page__vector-triangle, .hero-page__vector-star_green1, .hero-page__vector-star_none1 {
    display: none;
  }
  .hero-page__vector-star_green2 {
    top: 5%;
    left: 10%;
  }
  .hero-page__vector-star_none2 {
    top: 70%;
    left: 48%;
  }
  .icon {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: row;
  }
  .icon-item_mini:hover, .icon-item_medium:hover, .icon-item_big:hover {
    display: none;
  }
  .icon-item_mini, .icon-item_medium, .icon-item_big {
    height: 551px;
  }
  .icon-item_big:nth-child(4), .icon-item_big:nth-child(6) {
    margin-top: 0px;
  }
  .game__img-1 {
    display: none;
  }
  .card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 25px;
  }
  .card-items {
    width: 343px;
    border-radius: 30px;
    opacity: 1;
    flex-direction: column;
    gap: 0px;
    margin-bottom: 24px;
  }
  .card-items:nth-child(1) {
    height: 528.6296386719px;
  }
  .card-items:nth-child(2), .card-items:nth-child(3), .card-items:nth-child(5) {
    height: 567.63px;
  }
  .card-items:nth-child(4) {
    height: 606.63px;
  }
  .card-items:nth-child(6) {
    height: 626.63px;
  }
  .card-item__img {
    display: none;
  }
  .card-item__img-mobile {
    display: block;
    width: 100%;
  }
  .card-item__description {
    width: 330px;
    height: 182px;
    padding-top: 29px;
    padding-right: 29px;
    padding-left: 29px;
    gap: 16px;
  }
  #gen .card-item__description {
    width: 300px;
  }
  .card-item__title {
    color: rgb(32, 32, 39);
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .card-item__text {
    color: rgb(0, 0, 0);
    display: block;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0px;
    text-align: left;
  }
  .card-item__button {
    width: 285px;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 16px 28px 16px 28px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
  }
}/*# sourceMappingURL=stile.css.map */